services:
  qmk:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qmk-firmware
    volumes:
      # キーボードのリポジトリをマウント
      - ./custom_keyboard:/custom_keyboard
      # ビルド済みファームウェアの出力先
      - ./firmware:/firmware
      - ./qmk_firmware:/qmk_firmware
    stdin_open: true
    tty: true
    # command: /bin/bash -c "./setup.sh; tail -f /dev/null"
    environment:
      - QMK_HOME=/qmk_firmware

